.headerlogin{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 10rem;
    position: relative;
    left:0%;
    top: 0%;
    background-color: #6A0DAD;
}


.headerlogin .logodivset{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 10vh;
    margin: 0%;
    padding: 0%;
    flex: 1;
}

.headerlogin .logodivset .logoimg{
    width: 30vw;
    height: 20vh;
    position: relative;
    top: 10%
}


.loginbtn{
    font-size: larger;
    font-weight: bold;
    border: ipx solid white;
    border-radius: 1rem;
    cursor: pointer;
    color: white;
    margin: 0rem 2rem;
}

.loginbtn1{
    background-color: aliceblue;
    height: 20vh;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin: 0rem 2rem;
}


.logoimg{
    width: 100px;
    height: 100px;
    border-radius: 1rem;
    position: relative;
    top:1rem
}

.loginform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    top: 0%;
}
.loginform hr{
    color: black;
    margin: 0%;
    width: 100%;
    padding: 0%;
}


.loginform dev{
    margin: 0%;
    padding: 0%;
}


.signupdiv{
    right: 10%;
}